PRIVATE_KEY=0x_your_wallet_private_key_here
BASESCAN_API_KEY=your_basescan_api_key
BASE_SEPOLIA_RPC=https://sepolia.base.org
BASE_MAINNET_RPC=https://mainnet.base.org
COOL_OWNER=0x_owner_wallet_address
COOL_TREASURY=0x_treasury_wallet_address
COOL_INITIAL_SUPPLY=100000000000000000000000000
COOL_MAX_SUPPLY=1000000000000000000000000000
